################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Common/bin/Debug
/Common/obj/Debug
/Common/obj/Release
/ConsoleTest
/RRL.WEB/node_modules
/RRL.Config
/WinFormReleaseVer
/Vendor
/ScheduleTask
/RRL.WEB
/RRL.EF
/RRL.DB
/RRL.Core
