			*{
				margin: 0;
				padding: 0;
				list-style: none;
			}
			.c{
				zoom: 1;
			}
			.c:after{
				content: "";
				clear: both;
				display: block;
				z-index: 999;
			}
			.pt20{
				padding-top: 20px;
				padding-bottom: 10px;
			}
			.main{
				width: 100%;
				background-color: #e40613;
			}
			.main .img{
				width: 100%;
			}
			.main .img img{
				width: 100%;
				display: block;
			}
			.content{
				width: 100%;
				clear: both;
			    padding: 0 15px;
				box-sizing: border-box;
			}
			.content li{
				width: 50%;
				float: left;
				padding-bottom: 15px;
			}
			.content a{
				display: block;
			}
			.alternative{
				padding-bottom: 15px;
				display: block;
			}
			@media screen and (max-width:450px ) {
				.content{
					padding: 0 7px;
				}
				.content li{
					padding-bottom: 7px;
				}
				.alternative{
					padding-bottom: 7px; 
			    }
			}
			@media screen and (min-width:320px){
				html{
					font-size: 42.667px;
				}
			}
			@media screen and (min-width:360px){
				html{
					font-size: 48px;
				}
			}
			@media screen and (min-width:375px){
				html{
					font-size: 50px;
				}
			}
			@media screen and (min-width:414px){
				html{
					font-size: 55.2px;
				}
			}
			@media screen and (min-width:768px){
				html{
					font-size: 102.4px;
				}
			}