<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WxPayNOTIFY_URL" value="https://e-shop.rrlsz.com.cn/PayCallBack/wxpay_notify" />
    <add key="AliPay_notify_url" value="https://e-shop.rrlsz.com.cn/PayCallBack/alipay_notify" />
    <!--买券送红包的百分率-->
    <add key="RedpacketCouponsPerRate" value="0.3" />
    <add key="locked_trade_description" value="抱歉,您现在不能交易,数据处理中,预计2018年3月12日 09点恢复" />
    <!--在美国不能看到游戏专区入口 true=是-->
    <add key="usa_can_not_seen_game_enter" value="true" />
    <!--运维配置开始-->

    <!--内网测试-->
    <!--是否发布模式 测试模式用False, 发布模式用True-->
    <add key="Dev_IsRelease" value="False" />
    <!--redis连接-->
    <add key="RedisConn" value="127.0.0.1:6379" />
    <!--业务库-->
    <add key="DBHost" value="120.77.100.120" />
    <add key="DBServer" value="rrl_three_dev" />
    <add key="DBUser" value="sa" />
    <add key="DBPassWord" value="rrl-123456" />

    <!--图片库-->
    <add key="DBPicHost" value="120.77.100.120" />
    <add key="DBPicServer" value="pic_storage" />
    <add key="DBPicUser" value="sa" />
    <add key="DBPicPassWord" value="rrl-123456" />


    <!--正式-->
    <!--是否发布模式 测试模式用False, 发布模式用True-->
    <!--<add key="Dev_IsRelease" value="True" />-->
    <!--<add key="RedisConn" value="10.29.216.244:6381" />-->

    <!--<add key="DBHost" value="rm-wz9y91oc5gn90qteguo.sqlserver.rds.aliyuncs.com,3433" />
    <add key="DBServer" value="rrl_three" />
    <add key="DBUser" value="rrlsa" />
    <add key="DBPassWord" value="rrl-123456" />-->

    <!--<add key="DBPicHost" value="10.27.179.118" />
    <add key="DBPicServer" value="pic_storage" />
    <add key="DBPicUser" value="sa" />
    <add key="DBPicPassWord" value="rrl-123456" />-->
    <!--运维配置结束-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>