<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="false" />
    <add key="WxPayNOTIFY_URL" value="https://e-shop.rrlsz.com.cn/PayCallBack/wxpay_notify" />
    <add key="AliPay_notify_url" value="https://e-shop.rrlsz.com.cn/PayCallBack/alipay_notify" />
    <!--买券送红包的百分率-->
    <add key="RedpacketCouponsPerRate" value="0.3" />
    <add key="locked_trade_description" value="抱歉,您现在不能交易,数据处理中,预计2018年3月12日 09点恢复" />
    <!--在美国不能看到游戏专区入口 true=是-->
    <add key="usa_can_not_seen_game_enter" value="false" />
    <!--运维配置开始-->

    <!--内网测试-->
    <!--是否发布模式 测试模式用False, 发布模式用True-->
    <add key="Dev_IsRelease" value="False" />
    <!--redis连接-->
    <add key="RedisConn" value="127.0.0.1:6379" />
    
    <!--业务库-->
    
    <!--<add key="DBHost" value="120.77.100.120" />
    <add key="DBServer" value="rrl_three_dev" />
    <add key="DBUser" value="sa" />
    <add key="DBPassWord" value="rrl-123456" />-->
    
    <!--图片库-->
    <add key="DBPicHost" value="120.77.100.120" />
    <add key="DBPicServer" value="pic_storage" />
    <add key="DBPicUser" value="sa" />
    <add key="DBPicPassWord" value="rrl-123456" />

    <add key="LiveSiteUrl" value="https://e-shop.rrlsz.com.cn" />
 
    <!--正式-->
    <!--是否发布模式 测试模式用False, 发布模式用True-->
    <!--<add key="Dev_IsRelease" value="True" />-->
    <!--<add key="RedisConn" value="10.29.216.244:6381" />-->
    
    <add key="DBHost" value="rm-wz9y91oc5gn90qteguo.sqlserver.rds.aliyuncs.com,3433" />
    <add key="DBServer" value="rrl_three" />
    <add key="DBUser" value="rrlsa" />
    <add key="DBPassWord" value="rrl_sdd@123" />
    
    <!--<add key="DBPicHost" value="10.27.179.118" />
    <add key="DBPicServer" value="pic_storage" />
    <add key="DBPicUser" value="sa" />
    <add key="DBPicPassWord" value="rrl-123456" />-->

   
    <add key="CrazyCircleConfigList_Url" value="http://localhost:56646/game/CrazyCircleConfigList" />
    <add key="UpdateWeightForCrazyCircle_Url" value="http://localhost:56646/game/UpdateWeightForCrazyCircle" />
    <add key="CrazyCircleWaveConfigList_Url" value="http://localhost:56646/game/CrazyCircleWaveConfigList" />
    <add key="UpdateWaveConfigForCrazyCircle_Url" value="http://localhost:56646/game/UpdateWaveConfigForCrazyCircle" />
    
     <!--
    <add key="CrazyCircleConfigList_Url" value="http://39.108.247.3:8083/game/CrazyCircleConfigList" />
    <add key="UpdateWeightForCrazyCircle_Url" value="http://39.108.247.3:8083/game/UpdateWeightForCrazyCircle" />
    <add key="CrazyCircleWaveConfigList_Url" value="http://39.108.247.3:8083/game/CrazyCircleWaveConfigList" />
    <add key="UpdateWaveConfigForCrazyCircle_Url" value="http://39.108.247.3:8083/game/UpdateWaveConfigForCrazyCircle" />
    -->
    
    <!-- 二手平台生成商品数据的接口 -->
    <add key="SecondHand_PreProduct_Url" value="https://e-shop.szrundao.com/xianzhuan/product/PreProduct" />
    <!-- 二手平台确认商品发布的接口 -->
    <add key="SecondHand_ComProduct_Url" value="https://e-shop.szrundao.com/xianzhuan/product/ComProduct" />
    <!-- 用于二手平台交易的100元购物卡在省兜兜商品库中的ID -->
    <add key="SecondHand_Card100_GoodsId" value="7535" />
    <!-- 用于二手平台交易的10元购物卡在省兜兜商品库中的ID -->
    <add key="SecondHand_Card10_GoodsId" value="7536" />
    
    <!-- 卡券平台支付接口 -->
    <add key="Card_Platform_Pay_Url" value="http://rrl-game2.sdoudou.net:6002/a30kami" />
  
    <!--运维配置结束-->
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="HttpModule" type="RRL.WEB.App_Start.HttpModule" />
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />-->
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
     
    <staticContent>
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"><!--启动后缀--> 
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add name="HttpModule" type="RRL.WEB.App_Start.HttpModule" />
  </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>