
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>第三方登录</title>
    <style>
        a {
            -webkit-tap-highlight-color: rgba(255,0,0,0);
        }
    </style>
    <!--目前只支持App上做第三方登录,请把App更新到最新版本-->
</head>
<body style='margin:0;'>
    <p>
        <span style="font-size:16px;"><strong>正式审核中....敬请期待</strong></span>
    </p>
    <p>
        <a href="~/Assets/Product/sdoudou.apk" download="" class="read-more-bg" style="line-height: 65px"><i class="fa fa-android fa-2x" aria-hidden="true"></i> 安卓下载</a>
        <a href="https://itunes.apple.com/cn/app/id1180975910?mt=8" class="read-more-bg" style="line-height: 65px"><i class="fa fa-apple fa-2x" aria-hidden="true"></i> IOS下载</a>
    </p>
    <p>
        <span style="font-size:16px;margin-left:10px;"><span style="line-height:2;"><a href="/#/login">[点击返回登录页面]</a></span></span><br />
    </p>
</body>
</html>
