@{
Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>一口在上夏天</title>
    <link rel="stylesheet" href="~/Assets/Source/Styles/2-22.css?ver=@RRL.WEB.App_Start.AppUtils.Ver"/>
    <style>
        .main{background: #fff;} 
        .main .img{
            height: 100%;
        }
        .content, .content li {
            padding: 0;
        }
        .content li.flp-li {
            width: 33.3333333333%;    margin-top: 7%;
        }
        /* 返回上一页 */
        .goback-page {
            position: fixed; top: .5rem; left: .5rem; 
        }
        .goback-page img {
            display: block; width: .6rem; height: .6rem;
        }
        .content1{
            margin: .2rem 0;
        }
        .content1 li{
           width:50%;float:left;
            
        }
        .guide_box{
            position: relative;
        }
    </style>
</head>

<body>
    <div class="main">
        <!--返回上一页开始-->
        <div class="goback-page">
            <img src="/Assets/Source/img/goback.png" id="goBackPage"/>
        </div>
        <!--返回上一页结束-->

        <!--活动头部开始-->
        <div class="img">
            <img src="~/Assets/Event/images/summer_01.jpg"/>
            <img src="~/Assets/Event/images/summer_02.jpg"/>
            <img src="~/Assets/Event/images/summer_03.jpg"/>
        </div>
        <!--活动头部结束-->

        <!--顶部-->
        <div class="pre_sale">
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19222/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_04.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/18729/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_05.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/14637/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_06.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15013/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_07.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/14961/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_08.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/14645/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_09.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/14647/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_10.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/14641/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_11.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--顶部-->

        <!--底部-->
        <div class="content1">
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/14616/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_23.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/14595/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_24.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/14546/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_25.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19137/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_26.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/11583/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_27.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3487/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_28.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/11186/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_29.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/10611/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_30.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3581/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_31.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/18853/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_32.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/11464/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_33.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/11529/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/summer_34.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--底部-->
        <ul class="content">
            <!--返回首页开始-->
            <li class="flp-li">
                <a href="/#/index">
                    <div class="img">
                        <img src="~/Assets/Event/images/summerf_04.jpg"/>
                    </div>
                </a>
            </li>
            <!--返回首页结束-->

            <!--二维码开始-->
            <li class="flp-li">
                <a href="javascript:;">
                    <div class="img">
                        <img src="~/Assets/Event/images/summerf_05.jpg"/>
                    </div>
                </a>
            </li>
            <!--二维码结束-->

            <!--返回顶部开始-->
            <li id="goBack" class="flp-li">
                <a href="javascript:;">
                    <div class="img">
                        <img src="~/Assets/Event/images/summerf_06.jpg"/>
                    </div>
                </a>
            </li>
            <!--返回顶部结束-->
        </ul>

    </div>
</body>

<script type="text/javascript">

    /* 返回上一页代码实现 */
    ;(function () {
        var goBackPage = document.getElementById("goBackPage");
        goBackPage.addEventListener("click", function () {
            location.href = "/#/index";
        }, false);
    })();

    /* 返回顶部代码实现 */
    ;(function () {
        var timer = null, goBack = document.getElementById("goBack");
        goBack.onclick = function () {
            cancelAnimationFrame(timer);
            timer = requestAnimationFrame(function fn() {
                var oTop = document.body.scrollTop || document.documentElement.scrollTop;
                if (oTop > 0) {
                    scrollBy(0, -50);
                    timer = requestAnimationFrame(fn);
                    return;
                }
                cancelAnimationFrame(timer);
            });
        }
    })();

    /*客服系统代码实现*/
    function custormService(){
        var iframe = encodeURIComponent("https://kefu.easemob.com/webim/im.html?configId=8d149d8f-bc70-45f8-9c44-96c6ef6098c9");
        window.location.href = "/Game/CustomerService?iframe=" + iframe + "&redirect=" + encodeURIComponent("https://e-shop.rrlsz.com.cn/Event/ShopActivte");
    }

</script>

</html>