@{
Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>9月开学季</title>
    <link rel="stylesheet" href="~/Assets/Source/Styles/2-22.css?ver=@RRL.WEB.App_Start.AppUtils.Ver"/>
    <style>
        .main{background: #b5f5f7;} 
        .main .img{
            height: 100%;
        }
        .content, .content li {
            padding: 0;
        }
        .content li.flp-li {
            width: 33.3333333333%;
        }
        /* 返回上一页 */
        .goback-page {
            position: fixed; top: .5rem; left: .5rem; 
        }
        .goback-page img {
            display: block; width: .6rem; height: .6rem;
        }
        .content1{
            margin: .2rem 0;
        }
        .content1 li{
           width:50%;float:left;
            
        }
        .guide_box{
            position: relative;
        }
    </style>
</head>

<body>
    <div class="main">
        <!--返回上一页开始-->
        <div class="goback-page">
            <img src="/Assets/Source/img/goback.png" id="goBackPage"/>
        </div>
        <!--返回上一页结束-->

        <!--活动头部开始-->
        <div class="img">
            <img src="~/Assets/Event/images/kxj_01.jpg"/>
            <img src="~/Assets/Event/images/kxj_02.jpg"/>
        </div>
        <!--活动头部结束-->

        <!--顶部-->
        <div class="content1">
            <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/11539/null">
                <div class="img">
                    <img src="~/Assets/Event/images/kxj_03.jpg"/>
                </div>
            </a>
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15501/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_07.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/11606/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_08.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/8751/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_09.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15257/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_10.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--顶部-->

        <!--底部-->
        <div class="content1">
            <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/11740/null">
                <div class="img">
                    <img src="~/Assets/Event/images/kxj_06.jpg"/>
                </div>
            </a>
            <ul>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15183/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_13.jpg"/>
                        </div>
                    </a>
                </li> <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/5250/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_14.jpg"/>
                        </div>
                    </a>
                </li> <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/10624/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_15.jpg"/>
                        </div>
                    </a>
                </li> <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15743/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_16.jpg"/>
                        </div>
                    </a>
                </li> <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/13732/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_17.jpg"/>
                        </div>
                    </a>
                </li> <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/14285/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_18.jpg"/>
                        </div>
                    </a>
                </li> <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/16305/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_19.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3837/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_20.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19100/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_21.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/10341/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_22.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/12042/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_23.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/13771/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_24.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/13955/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_25.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/12604/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_26.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/12276/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_27.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/14799/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/kxj_28.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--底部-->
        <ul class="content">
            <!--返回首页开始-->
            <li class="flp-li">
                <a href="/#/index">
                    <div class="img">
                        <img src="~/Assets/Event/images/summerf_04.jpg"/>
                    </div>
                </a>
            </li>
            <!--返回首页结束-->

            <!--二维码开始-->
            <li class="flp-li">
                <a href="javascript:;">
                    <div class="img">
                        <img src="~/Assets/Event/images/summerf_05.jpg"/>
                    </div>
                </a>
            </li>
            <!--二维码结束-->

            <!--返回顶部开始-->
            <li id="goBack" class="flp-li">
                <a href="javascript:;">
                    <div class="img">
                        <img src="~/Assets/Event/images/summerf_06.jpg"/>
                    </div>
                </a>
            </li>
            <!--返回顶部结束-->
        </ul>

    </div>
</body>

<script type="text/javascript">

    /* 返回上一页代码实现 */
    ;(function () {
        var goBackPage = document.getElementById("goBackPage");
        goBackPage.addEventListener("click", function () {
            location.href = "/#/index";
        }, false);
    })();

    /* 返回顶部代码实现 */
    ;(function () {
        var timer = null, goBack = document.getElementById("goBack");
        goBack.onclick = function () {
            cancelAnimationFrame(timer);
            timer = requestAnimationFrame(function fn() {
                var oTop = document.body.scrollTop || document.documentElement.scrollTop;
                if (oTop > 0) {
                    scrollBy(0, -50);
                    timer = requestAnimationFrame(fn);
                    return;
                }
                cancelAnimationFrame(timer);
            });
        }
    })();

    /*客服系统代码实现*/
    function custormService(){
        var iframe = encodeURIComponent("https://kefu.easemob.com/webim/im.html?configId=8d149d8f-bc70-45f8-9c44-96c6ef6098c9");
        window.location.href = "/Game/CustomerService?iframe=" + iframe + "&redirect=" + encodeURIComponent("https://e-shop.rrlsz.com.cn/Event/ShopActivte");
    }

</script>

</html>