
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript">
        var params = location.href.substr(location.href.indexOf('?'));
        location.href = "/#/shareredpacket" + params;
    </script>
</head>
<body style='margin:0;'>
    <p>
        <span style="font-size:16px;"><strong>跳转到领取红包页面</strong></span>
    </p>
</body>
</html>
