@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>一口在上夏天</title>
    <link rel="stylesheet" href="~/Assets/Source/Styles/2-22.css?ver=@RRL.WEB.App_Start.AppUtils.Ver"/>
    <style>
        .main{background: #ffe8d8;} 
        .main .img{
            height: 100%;
        }
        .content, .content li {
            padding: 0;
        }
        .content li.flp-li {
            width: 33.3333333333%; 
        }
        /* 返回上一页 */
        .goback-page {
            position: fixed; top: .5rem; left: .5rem; 
        }
        .goback-page img {
            display: block; width: .6rem; height: .6rem;
        }
        .content1{
            margin: .2rem 0;
        }
        .content1 li{
           width:50%;float:left;
            
        }
        .guide_box{
            position: relative;
        }
    </style>
</head>

<body>
    <div class="main">
        <!--返回上一页开始-->
        <div class="goback-page">
            <img src="/Assets/Source/img/goback.png" id="goBackPage"/>
        </div>
        <!--返回上一页结束-->

        <!--活动头部开始-->
        <div class="img">
            <img src="~/Assets/Event/images/qx_01.jpg"/>
            <img src="~/Assets/Event/images/qx_02.jpg"/>
            <img src="~/Assets/Event/images/qx_03.jpg"/>
        </div>
        <!--活动头部结束-->

        <!--甜蜜专区-->
        <div class="pre_sale">
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19373/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_04.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19372/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_05.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19370/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_06.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19369/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_07.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19368/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_08.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19366/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_09.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19364/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_10.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19363/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_11.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content1">
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19361/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_23.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19360/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_24.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19359/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_25.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19358/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_26.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19357/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_27.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19349/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_28.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19355/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_29.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19356/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_30.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19375/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_31.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19376/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_32.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--甜蜜专区-->

        <!--浪漫专区-->
        <div class="img">
            <img src="~/Assets/Event/images/qx_17.jpg"/>
        </div>
         <div class="pre_sale">
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/7170/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_18.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/7295/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_19.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/7258/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_20.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/7258/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_21.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content1">
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15098/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_43.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/7792/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_44.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/7788/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_45.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19377/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_46.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/5269/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_47.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19378/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_48.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/9201/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_49.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/12346/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_50.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15977/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_51.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15859/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_52.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/10774/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_53.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/10743/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/qx_54.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


        <!--底部-->
        <ul class="content">
            <!--返回首页开始-->
            <li class="flp-li">
                <a href="/#/index">
                    <div class="img">
                        <img src="~/Assets/Event/images/qx_82.jpg"/>
                    </div>
                </a>
            </li>
            <!--返回首页结束-->

            <!--二维码开始-->
            <li class="flp-li">
                <a href="javascript:;">
                    <div class="img">
                        <img src="~/Assets/Event/images/qx_83.jpg"/>
                    </div>
                </a>
            </li>
            <!--二维码结束-->

            <!--返回顶部开始-->
            <li id="goBack" class="flp-li">
                <a href="javascript:;">
                    <div class="img">
                        <img src="~/Assets/Event/images/qx_84.jpg"/>
                    </div>
                </a>
            </li>
            <!--返回顶部结束-->
        </ul>

    </div>
</body>

<script type="text/javascript">
      /* 返回上一页代码实现 */
    ;(function () {
        var goBackPage = document.getElementById("goBackPage");
        goBackPage.addEventListener("click", function () {
            location.href = "/#/index";
        }, false);
    })();

    /* 返回顶部代码实现 */
    ;(function () {
        var timer = null, goBack = document.getElementById("goBack");
        goBack.onclick = function () {
            cancelAnimationFrame(timer);
            timer = requestAnimationFrame(function fn() {
                var oTop = document.body.scrollTop || document.documentElement.scrollTop;
                if (oTop > 0) {
                    scrollBy(0, -50);
                    timer = requestAnimationFrame(fn);
                    return;
                }
                cancelAnimationFrame(timer);
            });
        }
    })();

    /*客服系统代码实现*/
    function custormService(){
        var iframe = encodeURIComponent("https://kefu.easemob.com/webim/im.html?configId=8d149d8f-bc70-45f8-9c44-96c6ef6098c9");
        window.location.href = "/Game/CustomerService?iframe=" + iframe + "&redirect=" + encodeURIComponent("https://e-shop.rrlsz.com.cn/Event/ShopActivte");
    }
  

</script>

</html>