
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>停服通知</title>
    <style>
        body,
        p {
            margin: 0;
            width: 100%;
            box-sizing: border-box;
        }

        body {
            padding: 12px;
        }

        p {
            word-break: break-all;
            word-wrap: break-word;
            text-indent: 2em;
            line-height: 20px;
            font-size: 16px;
        }

        b {
            color: #f00;
        }
    </style>
</head>

<body>
    <div>
        <p style='text-indent:0;'>
            各位亲爱的省兜兜用户们：
        </p>
        <br />
        <p style='text-indent:2em;'>
            感谢您一直以来给予省兜兜平台的支持与厚爱！由于业务发展和对系统的优化调整，省兜兜平台将于
            <b>2018年1月13日00:00时</b>暂停运营
            <b>20天</b>，于
            <b>2018年2月2日00:00时</b>重新开放。
        </p>
        <br />
        <p>
            为此，我们将于
            <b>2018年1月13日00:00时</b>关闭省兜兜平台的所有服务， 届时及以后
            <b>20天</b>内省兜兜平台将暂时不能访问。
        </p>
        <br />
        <p>
            1、平台内所有用户的钱包内未经使用的金豆、金币以及未提现的余额不会清零，在
            <b>2018年2月2日00:00时</b>平台重新开放后，用户登录即可恢复，届时可继续使用；
        </p><br />
        <p>
            2、平台内所有用户的绑定关系，即账户内一级、二级、三级会员关系不会清除，
            <b>20天</b>后重新登录即可恢复；
        </p><br />
        <p>
            3、
            <b>2018年1月13日00:00</b>时前所有用户购买的商品将继续发货，
            建议大家将未收到货的所有订单截图保存，方便后续的订单查询，查询热线：4009907881；
        </p><br />
        <p>
            以上所述，还请各位用户周知并相互转告，如有任何疑义，请随时与我们的客服联系。
        </p><br />

        <p style='text-indent:2em;'>
            省兜兜全体工作人员再次此次暂停运营给您造成的不便深表歉意！同时衷心期待您继续支持和关注省兜兜的发展。十分感谢您的理解和原谅！

        </p>
        <br />
        <p style='text-align:right;'>省兜兜开发与运营团队</p>
        <p style='text-align:right;'>2018年1月12日</p>
    </div>

</body>
</html>
