@{
Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>美妆节</title>
    <link rel="stylesheet" href="~/Assets/Source/Styles/2-22.css"/>
    <style>
        .main{background: #ebf9fa;} 
        .main .img{height: 100%;}
        .content, .content li {padding: 0; }
         .content li.flp-li {width: 33.3333333333%;}
         /* 返回上一页 */
        .goback-page {  position: fixed; top: .5rem; left: .5rem;}
        .goback-page img { display: block; width: .6rem; height: .6rem;}
    </style>
</head>

<body>
    <div class="main">
    <!--返回上一页开始-->
    <div class="goback-page">
        <img src="/Assets/Source/img/goback.png" id="goBackPage" />
    </div>
    <!--返回上一页结束-->

    <!--活动头部开始-->
    <div class="img">
        <img src="~/Assets/Event/images/mz_01.jpg"/>
        <img src="~/Assets/Event/images/mz_02.jpg"/>
    </div>
    <!--活动头部结束-->

    <!--彩妆专区开始-->
    <div class="content">
        <div class="img">
            <img src="~/Assets/Event/images/mz_3.jpg"/>
        </div>
        <ul>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3559/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_03.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6309/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_04.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6628/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_05.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15385/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_06.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6691/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_07.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6586/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_08.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6587/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_09.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6842/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_10.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15421/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_11.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6986/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_12.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15382/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_13.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15429/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_14.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6505/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_15.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15434/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_16.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6585/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_17.jpg"/>
                    </div>
                </a>
            </li>
             <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6571/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_18.jpg"/>
                    </div>
                </a>
            </li>
             <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15465/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_19.jpg"/>
                    </div>
                </a>
            </li>
             <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/8904/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_20.jpg"/>
                    </div>
                </a>
            </li>
             <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15420/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_21.jpg"/>
                    </div>
                </a>
            </li>
             <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/8975/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_22.jpg"/>
                    </div>
                </a>
            </li>
            
        </ul>
    </div>
    <!--彩妆专区开始-->

     <!--护肤专区开始-->
    <div class="content">
        <div class="img">
            <img src="~/Assets/Event/images/mz_5.jpg"/>
        </div>
        <ul>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/7029/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_25.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6894/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_26.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3851/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_27.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3128/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_28.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3852/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_29.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3829/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_30.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6616/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_31.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6602/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_32.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6308/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_33.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3130/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_34.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/8948/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_35.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/15402/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_36.jpg"/>
                    </div>
                </a>
            </li>
             <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6424/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_37.jpg"/>
                    </div>
                </a>
            </li> 
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/7813/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_38.jpg"/>
                    </div>
                </a>
            </li> 
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/9293/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_39.jpg"/>
                    </div>
                </a>
            </li> 
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6476/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_40.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3814/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_41.jpg"/>
                    </div>
                </a>
            </li> 
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/3819/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_42.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6279/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_43.jpg"/>
                    </div>
                </a>
            </li> 
            <li>
                <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/6273/null">
                    <div class="img">
                        <img src="~/Assets/Event/images/mz_44.jpg"/>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!--护肤专区开始-->

    <ul class="content">
        <!--返回首页开始-->
        <li class="flp-li">
            <a href="/#/index">
                <div class="img">
                    <img src="~/Assets/Event/images/early_summer_43.gif"/>
                </div>
            </a>
        </li>
        <!--返回首页结束-->

        <!--二维码开始-->
        <li class="flp-li">
            <a href="javascript:;">
                <div class="img">
                    <img src="~/Assets/Event/images/early_summer_44.gif"/>
                </div>
            </a>
        </li>
        <!--二维码结束-->

        <!--返回顶部开始-->
        <li id="goBack" class="flp-li">
            <a href="javascript:;">
                <div class="img">
                    <img src="~/Assets/Event/images/early_summer_45.gif"/>
                </div>
            </a>
        </li>
        <!--返回顶部结束-->
    </ul>

    </div>
</body>

<script type="text/javascript">

    /* 返回上一页代码实现 */
    ;(function () {
        var goBackPage = document.getElementById("goBackPage");
        goBackPage.addEventListener("click", function () {
            location.href = "/#/index";
        }, false);
    })();

    /* 返回顶部代码实现 */
    ;(function () {
        var timer = null, goBack = document.getElementById("goBack");
        goBack.onclick = function () {
            cancelAnimationFrame(timer);
            timer = requestAnimationFrame(function fn() {
                var oTop = document.body.scrollTop || document.documentElement.scrollTop;
                if (oTop > 0) {
                    scrollBy(0, -50);
                    timer = requestAnimationFrame(fn);
                    return;
                }
                cancelAnimationFrame(timer);
            });
        }
    })();
</script>

</html>