@{
Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="~/Assets/Source/Styles/2-22.css" />
    <style>
        .main{
            background-color: #fff;
        }
        .content,.content li{
            padding: 0;
        }
        /* 返回上一页 */
        .goback-page{
            position: absolute;
            top: .5rem;
            left: .5rem;
            width: 3rem;
            height: 3rem;
        }
        .goback-page img{
            display: block;
            width: 1.5rem;
            height: 1.5rem;
        }
    </style>
</head>

<body>
<div class="main">
    <div class="goback-page">
        <img src="/Assets/Source/img/goback.png" id="goBackPage" />
    </div>
    <div class="img">
        <img src="~/Assets/Event/images/membership-welfare-0426.jpg"/>
    </div>
</div>
</body>

<script type="text/javascript">

    /* 返回上一页代码实现 */
    ;(function(){
        var goBackPage = document.getElementById("goBackPage");
        goBackPage.addEventListener("click",function(){
            window.history.go(-1);
        },false);
    })();

</script>

</html>