@{
Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>中秋佳节</title>
    <link rel="stylesheet" href="~/Assets/Source/Styles/2-22.css"/>
    <style>
        ul,li{padding: 0; margin: 0;}
        .main{background: #fff;-webkit-tap-highlight-color: rgba(0,0,0,0)}; 
        .content, .content li {
            padding: 0; margin: 0;
        }
        .content li.flp-li {
            width: 33.3333333333%;
        }
        /* 返回上一页 */
        .goback-page {
            position: fixed; top: .5rem; left: .5rem; 
        }
        .goback-page img {
            display: block; width: .6rem; height: .6rem;
        }
        .content1 li{
           width:50%;float:left;
        }
        .guide_box{
            position: relative;
        }
    </style>
</head>

<body>
    <div class="main">
        <!--返回上一页开始-->
        <div class="goback-page">
            <img src="/Assets/Source/img/goback.png" id="goBackPage"/>
        </div>
        <!--返回上一页结束-->

        <!--活动头部开始-->
        <div class="img">
            <img src="~/Assets/Event/images/18zq_01.jpg"/>
            <img src="~/Assets/Event/images/18zq_02.jpg"/>
            <img src="~/Assets/Event/images/18zq_03.jpg"/>
        </div>
        <!--活动头部结束-->

        <!--潘祥记-->
        <div>
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19539/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_04.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19540/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_05.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19543/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_06.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19544/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_07.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19541/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_08.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19545/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_09.jpg"/>
                        </div>
                    </a>
                </li>
                   <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19547/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_10.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19549/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_11.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19550/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_12.jpg"/>
                        </div>
                    </a>
                </li>
                 <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19551/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_13.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--潘祥记-->
        <!-- 香港美心 -->
        <div>
            <div class="img">
                <img src="~/Assets/Event/images/18zq_14.jpg"/>
            </div>
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19565/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_15.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19587/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_16.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19588/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_17.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19566/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_18.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content1">
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19568/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_37.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19569/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_38.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19570/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_39.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19571/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_40.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19572/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_41.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19590/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_42.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 香港美心 -->

        <!-- 优选推荐 -->
        <div>
            <div class="img">
                <img src="~/Assets/Event/images/18zq_22.jpg"/>
            </div>
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19552/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_23.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19559/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_24.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content1">
            <ul>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19563/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_45.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19562/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_46.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19591/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_47.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19592/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_48.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19603/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_49.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19606/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_50.jpg"/>
                        </div>
                    </a>
                </li>
                  <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19624/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_51.jpg"/>
                        </div>
                    </a>
                </li>
                  <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19629/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_52.jpg"/>
                        </div>
                    </a>
                </li>
                  <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19626/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_53.jpg"/>
                        </div>
                    </a>
                </li>
                  <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19631/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_54.jpg"/>
                        </div>
                    </a>
                </li>
                  <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19617/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_55.jpg"/>
                        </div>
                    </a>
                </li>
                  <li>
                    <a href="https://e-shop.rrlsz.com.cn/#/goodsdetail/19620/null">
                        <div class="img">
                            <img src="~/Assets/Event/images/18zq_56.jpg"/>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
        <!-- 优选推荐 -->

        <ul class="content">
            <!--返回首页开始-->
            <li class="flp-li">
                <a href="/#/index">
                    <div class="img">
                        <img src="~/Assets/Event/images/summerf_04.jpg"/>
                    </div>
                </a>
            </li>
            <!--返回首页结束-->

            <!--二维码开始-->
            <li class="flp-li">
                <a href="javascript:;">
                    <div class="img">
                        <img src="~/Assets/Event/images/summerf_05.jpg"/>
                    </div>
                </a>
            </li>
            <!--二维码结束-->

            <!--返回顶部开始-->
            <li id="goBack" class="flp-li">
                <a href="javascript:;">
                    <div class="img">
                        <img src="~/Assets/Event/images/summerf_06.jpg"/>
                    </div>
                </a>
            </li>
            <!--返回顶部结束-->
        </ul>

    </div>
</body>

<script type="text/javascript">

    /* 返回上一页代码实现 */
    ;(function () {
        var goBackPage = document.getElementById("goBackPage");
        goBackPage.addEventListener("click", function () {
            location.href = "/#/index";
        }, false);
    })();

    /* 返回顶部代码实现 */
    ;(function () {
        var timer = null, goBack = document.getElementById("goBack");
        goBack.onclick = function () {
            cancelAnimationFrame(timer);
            timer = requestAnimationFrame(function fn() {
                var oTop = document.body.scrollTop || document.documentElement.scrollTop;
                if (oTop > 0) {
                    scrollBy(0, -50);
                    timer = requestAnimationFrame(fn);
                    return;
                }
                cancelAnimationFrame(timer);
            });
        }
    })();

    /*客服系统代码实现*/
    function custormService(){
        var iframe = encodeURIComponent("https://kefu.easemob.com/webim/im.html?configId=8d149d8f-bc70-45f8-9c44-96c6ef6098c9");
        window.location.href = "/Game/CustomerService?iframe=" + iframe + "&redirect=" + encodeURIComponent("https://e-shop.rrlsz.com.cn/Event/ShopActivte");
    }

</script>

</html>