<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!--<connectionStrings><add name="RRlModelContainer" connectionString="metadata=res://*/RRlModel.csdl|res://*/RRlModel.ssdl|res://*/RRlModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.77.100.120;initial catalog=newrrl_test;user id=sa;password=rrl-123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RRlModelContainer" connectionString="metadata=res://*/RRlModel.csdl|res://*/RRlModel.ssdl|res://*/RRlModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.77.100.120;initial catalog=rrl_three;persist security info=True;user id=sa;password=rrl-123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>